<!-- Sidebar Menu -->
<nav class="mt-2">
	<ul
		class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
		<!-- Add icons to the links using the .nav-icon class
									               with font-awesome or any other icon font library -->
		
        <li class="nav-item">
			<a href="{{ path('users') }}" class="nav-link">
				<i class="nav-icon far fa-image"></i>
				<p>
					Users
				</p>
			</a>
		</li>
        <li class="nav-item">
			<a href="{{ path('app_products') }}" class="nav-link">
				<i class="nav-icon fas fa-tachometer-alt"></i>
				<p>
					Product
					<i class="right fas fa-angle-left"></i>
				</p>
			</a>			
		</li>
		<li class="nav-item">
			<a href="../widgets.html" class="nav-link">
				<i class="nav-icon fas fa-th"></i>
				<p>
					Widgets
					<span class="right badge badge-danger">New</span>
				</p>
			</a>
		</li>
	</ul>
</nav>
<!-- /.sidebar-menu -->
